{% extends 'base.html' %}

{% block body_block %}
<div class="hero-unit">
    <h2>Ready for admissions ?</h2>
    <p>Find, fill and submit applications.</p>
</div>

<div class="row-fluid">
    <div class="span6">
        <h2>Institutions</h2>
        {% if institutions %}
        <ul>
            {% for institute in institutions %}
            <li><a href="{{institute.get_absolute_url}}">{{ institute.name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No institutions at present.</strong>
        {% endif %}

    </div>
    <!--/span-->
    <div class="span6">
        <h2>Featured Institutions</h2>
        {% if pages %}
        <ul>
            {% for page in pages %}
            <li><a href="{{ page.url}}">{{ page.title }}</a> - {{ page.category }} ({{ page.views }} view(s))</li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>No institutions at present.</strong>
        {% endif %}

    </div>
    <!--/span-->
</div>
<!--/row-->
{% endblock %}